@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: "Poppins", sans-serfs;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #1a1a1a;
    --primary-color: #ffffff;
    --secondary-color: #d3e97a;
    --transition: 0.4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1rem 3rem;
 box-shadow: 1px 1px #888888;
 position: sticky;
 z-index: 1;
}

nav ul {
    display: flex;
    gap: .5rem;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hero {
    display: grid;
    grid-template-columns: auto auto;
}

