.home {
  width: 100%;
  position: relative;
  background-color: var(--neutral-black);
  height: 4930px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-three-size);
  color: var(--neutral-white);
  font-family: var(--heading-one);
}
.link,
.link1,
.logo {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
}
.link,
.link1 {
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
}
.link1 {
  line-height: 150%;
}
.column1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.column1 li {
  font-size: var(--body-medium-size);
  font-family: var(--misc-link);
}
/* .button,
.button2 {
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.button {
  flex-direction: row;
  align-items: center;
}
.button2 {
  background-color: var(--black);
  color: var(--neutral-white);
}
.button2,
.column,
.column2,
.navigation {
  flex-direction: row;
  align-items: center;
} */
.column2 {
  display: none;
  justify-content: center;
  gap: var(--gap-base);
  color: var(--black);
  font-family: var(--text-regular-normal);
}
.column,
.navigation {
  display: flex;
}
.column {
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--misc-link-size);
  font-family: var(--font-inter);
}
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-41xl);
  box-sizing: border-box;
  color: var(--neutral-offwhite);
}
.bg {
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--neutral-offwhite);
  height: 700px;
}
.bg,
.image,
.potrait-icon {
  position: absolute;
  width: 600px;
}
.potrait-icon {
  top: 37px;
  left: 0;
  height: 663px;
  object-fit: cover;
}
.image {
  top: 126px;
  left: 732px;
  height: 700px;
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.1);
}
.hi-i-am {
  margin: 0;
}
.a-sydney-based,
.hi-i-am-container {
  align-self: stretch;
  position: relative;
  line-height: 90%;
}
.a-sydney-based {
  font-size: var(--body-medium-size);
  line-height: 150%;
  font-family: var(--misc-link);
  color: var(--neutral-offwhite);
}
.header-and-sub-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.title {
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
}
.circle-icon {
  width: 42px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
}
.button8 {
  border-radius: var(--br-81xl);
  background-color: var(--primary);
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-7xs) var(--padding-xl)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.button8:hover {
  background-color: var(--neutral-offwhite);
  cursor: pointer;
}
.line,
.title1 {
  position: relative;
}
.title1 {
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.line {
  align-self: stretch;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
  height: 2px;
}
.title-parent {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--primary);
  font-family: var(--font-inter);
}
.bxl-linkedinsvg-icon {
  width: 26px;
  position: relative;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.bxl-linkedinsvg-wrapper {
  width: 54px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-100);
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bxl-linkedinsvg-wrapper:hover {
  background-color: var(--black);
  cursor: pointer;
}
.action,
.hero-content {
  display: flex;
  justify-content: flex-start;
}
.action {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--misc-link-size);
  color: var(--neutral-black);
  font-family: var(--misc-link);
}
.hero-content {
  position: absolute;
  top: 286px;
  left: 108px;
  width: 544px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 22px;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  font-size: var(--heading-one-size);
}
.home-child,
.home-inner,
.home-item {
  position: absolute;
  top: 905.5px;
  left: -0.5px;
  border-top: 1px solid var(--neutral-dark-gray);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.home-inner,
.home-item {
  top: 3323.5px;
}
.home-inner {
  top: 4183.5px;
}
.featured-projects {
  position: relative;
  line-height: 100%;
}
.featured-projects-parent {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.work-icon {
  position: absolute;
  top: calc(50% - 174px);
  left: calc(50% - 243px);
  border-radius: var(--br-xs);
  width: 486px;
  height: 347px;
  object-fit: cover;
}
.conceptual-work {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.tag {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: var(--br-81xl);
  background-color: var(--neutral-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.card,
.project-card {
  width: 600px;
  height: 600px;
}
.card {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}
.project-card {
  position: relative;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--body-medium-size);
  line-height: 150%;
  color: var(--neutral-offwhite);
}
.title-and-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title3,
.value {
  position: relative;
  line-height: 150%;
}
.title3 {
  text-transform: uppercase;
  font-weight: 600;
}
.value {
  font-weight: 500;
  color: var(--neutral-offwhite);
}
.client {
  width: 576px;
  border-top: 1px solid var(--neutral-dark-gray);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) 0;
  font-family: var(--font-inter);
}
.topic1,
.value1 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.value1 {
  color: var(--neutral-offwhite);
}
.year {
  align-self: stretch;
  border-top: 1px solid var(--neutral-dark-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) 0;
}
.information,
.list,
.project-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.list {
  border-bottom: 1px solid var(--neutral-dark-gray);
  align-items: flex-end;
  justify-content: center;
}
.information,
.project-info {
  align-items: flex-start;
  justify-content: flex-start;
}
.project-info {
  gap: var(--gap-base);
  font-size: var(--misc-link-size);
}
.information {
  gap: var(--gap-13xl);
}
.title4 {
  position: relative;
  line-height: 150%;
  text-transform: uppercase;
}
.title-and-arrow,
.view-project,
.view-project-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.view-project,
.view-project-parent {
  flex-direction: column;
}
.view-project-parent {
  flex-direction: row;
  gap: var(--gap-5xl);
  font-size: var(--misc-link-size);
  color: var(--primary);
}
.project,
.project-content {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.project-content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--heading-three-size);
}
.project {
  width: 1224px;
  flex-direction: row;
  align-items: center;
}
.image-10-icon {
  position: absolute;
  top: calc(50% - 173px);
  left: calc(50% - 244px);
  border-radius: var(--br-xs);
  width: 488px;
  height: 347px;
  object-fit: cover;
}
.project-image {
  width: 600px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
}
.description1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-medium-size);
  line-height: 150%;
  color: var(--neutral-offwhite);
}
.view-project2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--misc-link-size);
  color: var(--primary);
}
.project-content1,
.project1 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.project-content1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.project1 {
  width: 1224px;
  flex-direction: row;
  align-items: center;
  font-size: var(--heading-three-size);
}
.image-9-icon {
  position: absolute;
  top: calc(50% - 153px);
  left: calc(50% - 244px);
  border-radius: var(--br-xs);
  width: 488px;
  height: 306px;
  object-fit: cover;
}
.frame-parent,
.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.projects {
  gap: 120px;
  font-size: var(--misc-tag-size);
  font-family: var(--misc-link);
}
.frame-parent {
  position: absolute;
  top: 906px;
  left: 108px;
  padding: var(--padding-61xl) 0;
  gap: var(--gap-61xl);
  font-size: var(--heading-two-size);
}
.lets-connect {
  width: 600px;
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.mail {
  position: relative;
  line-height: 150%;
}
.description-parent,
.mail-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mail-parent {
  flex-direction: column;
  color: var(--neutral-white);
}
.description-parent {
  flex-direction: row;
  gap: var(--gap-10xs);
}
.frame-child {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  height: 1px;
}
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--body-medium-size);
  color: var(--neutral-offwhite);
  font-family: var(--misc-link);
}
.bxl-instagramsvg-icon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.bxl-linkedinsvg-parent,
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-div {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.robert-garcia3 {
  position: relative;
  font-size: var(--misc-link-size);
  line-height: 160%;
  font-weight: 500;
  font-family: var(--misc-link);
  color: var(--neutral-offwhite);
}
.frame-container,
.john-doe-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.john-doe-wrapper {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--body-medium-size);
  color: var(--neutral-white);
}
.text {
  position: relative;
  line-height: 150%;
}
.p,
.text {
  white-space: pre-wrap;
}
.blank-line,
.p {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.button9 {
  border-radius: var(--br-81xl);
  background-color: var(--primary);
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-21xl);
  box-sizing: border-box;
  color: var(--neutral-black);
}
.frame-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--misc-link-size);
  color: var(--neutral-offwhite);
  font-family: var(--misc-link);
}
.about-me,
.frame-group {
  position: absolute;
  left: calc(50% - 612px);
}
.frame-group {
  bottom: 0;
  width: 1224px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--heading-two-size);
}
.about-me {
  top: 3446px;
  font-size: var(--heading-one-size);
  line-height: 90%;
}
.i-am-a {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.home-inner1,
.view-project5 {
  position: absolute;
  left: 628px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--misc-link);
}
.home-inner1 {
  top: 3446px;
  width: 704px;
}
.view-project5 {
  top: 3740px;
  gap: var(--gap-9xs);
  font-size: var(--misc-link-size);
  color: var(--primary);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--neutral-black);
  height: 4930px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-three-size);
  color: var(--neutral-white);
  font-family: var(--heading-one);
}